.divNotificationsScrollable{
  max-height: 300px !important;
	overflow-y: auto !important;
	overflow-x: hidden !important;
}
.divContainerViews{
  background-color: $white !important;
}
.divContainerReservation{
  background-color: transparent !important;
}
