@font-face {
  font-family: 'sfProDisplayBold';
  src: url('/fonts/fontsfree-net-sfprodisplay-bold-webfont.woff2') format('woff2'),
       url('/fonts/fontsfree-net-sfprodisplay-bold-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

.sfProDisplayBold{
  font-family: "sfProDisplayBold", sans-serif;
}

@font-face {
  font-family: 'sfProDisplayMedium';
  src: url('/fonts/fontsfree-net-sfprodisplay-medium-webfont.woff2') format('woff2'),
       url('/fonts/fontsfree-net-sfprodisplay-medium-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

.sfProDisplayMedium{
  font-family: "sfProDisplayMedium", sans-serif;
}

@font-face {
  font-family: 'sfProDisplayRegular';
  src: url('/fonts/fontsfree-net-sfprodisplay-regular-webfont.woff2') format('woff2'),
       url('/fonts/fontsfree-net-sfprodisplay-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

.sfProDisplayRegular{
  font-family: "sfProDisplayRegular", sans-serif;
}

@font-face {
  font-family: 'sfProDisplaySemiBold';
  src: url('/fonts/fontsfree-net-sfprodisplay-semibold-webfont.woff2') format('woff2'),
       url('/fonts/fontsfree-net-sfprodisplay-semibold-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

.sfProDisplaySemiBold{
  font-family: "sfProDisplaySemiBold", sans-serif;
}

@font-face {
  font-family: 'univers55Regular';
  src: url('/fonts/univers_55-webfont.woff2') format('woff2'),
       url('/fonts/univers_55-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

.univers55Regular{
  font-family: "univers55Regular", sans-serif;
}

@font-face {
  font-family: 'univers55Bold';
  src: url('/fonts/univers_55_bold-webfont.woff2') format('woff2'),
       url('/fonts/univers_55_bold-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

.univers55Bold{
  font-family: "univers55Bold", sans-serif;
}

@font-face {
  font-family: 'sfUiDisplayBold';
  src: url('/fonts/sf-ui-display-bold-58646a511e3d9-webfont.woff2') format('woff2'),
       url('/fonts/sf-ui-display-bold-58646a511e3d9-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

.sfUiDisplayBold{
  font-family: "sfUiDisplayBold", sans-serif;
}

@font-face {
  font-family: 'sfUiDisplayLight';
  src: url('/fonts/sf-ui-display-light-58646b33e0551-webfont.woff2') format('woff2'),
       url('/fonts/sf-ui-display-light-58646b33e0551-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

.sfUiDisplayLight{
  font-family: "sfUiDisplayLight", sans-serif;
}

@font-face {
  font-family: 'sfUiDisplayMedium';
  src: url('/fonts/sf-ui-display-medium-58646be638f96-webfont.woff2') format('woff2'),
       url('/fonts/sf-ui-display-medium-58646be638f96-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

.sfUiDisplayMedium{
  font-family: "sfUiDisplayMedium", sans-serif;
}

@font-face {
  font-family: 'sfUiDisplaySemiBold';
  src: url('/fonts/sf-ui-display-semibold-58646eddcae92-webfont.woff2') format('woff2'),
       url('/fonts/sf-ui-display-semibold-58646eddcae92-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

.sfUiDisplaySemiBold{
  font-family: "sfUiDisplaySemiBold", sans-serif;
}

@font-face {
    font-family: 'poppinsmedium';
    src: url('/fonts/poppins-medium-webfont.woff2') format('woff2'),
         url('/fonts/poppins-medium-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
.poppinsmedium{
  font-family: "poppinsmedium", sans-serif;
}

@font-face {
    font-family: 'sourceSansProBold';
    src: url('/fonts/sourcesanspro-bold-webfont.woff2') format('woff2'),
         url('/fonts/sourcesanspro-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

.sourceSansProBold{
  font-family: "sourceSansProBold", sans-serif;
}

@font-face {
    font-family: 'sourceSansProregular';
    src: url('/fonts/sourcesanspro-regular-webfont.woff2') format('woff2'),
         url('/fonts/sourcesanspro-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
.sourceSansProregular{
	font-family: "sourceSansProregular", sans-serif;
}

@font-face {
    font-family: 'sourceSansProsemibold';
    src: url('/fonts/sourcesanspro-semibold-webfont.woff2') format('woff2'),
         url('/fonts/sourcesanspro-semibold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
.sourceSansProsemibold{
  font-family: "sourceSansProsemibold", sans-serif;
}

@font-face {
    font-family: 'sourceSansProLight';
    src: url('/fonts/sourcesanspro-light-webfont.woff2') format('woff2'),
         url('/fonts/sourcesanspro-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

.sourceSansProLight{
  font-family: "sourceSansProLight", sans-serif;
}

@font-face {
    font-family: 'robotoBold';
    src: url('/fonts/roboto-bold-webfont.woff2') format('woff2'),
         url('/fonts/roboto-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
.robotoBold{
	font-family: "robotoBold", sans-serif;
}

@font-face {
    font-family: 'robotoRegular';
    src: url('/fonts/roboto-regular-webfont.woff2') format('woff2'),
         url('/fonts/roboto-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

.robotoRegular{
  font-family: "robotoRegular", sans-serif;
}

@font-face {
    font-family: 'ralewayExtraBold';
    src: url('/fonts/raleway-extrabold-webfont.woff2') format('woff2'),
         url('/fonts/raleway-extrabold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

.ralewayExtraBold{
  font-family: "ralewayExtraBold", sans-serif;
}

@font-face {
    font-family: 'ralewayMedium';
    src: url('/fonts/raleway-medium-webfont.woff2') format('woff2'),
         url('/fonts/raleway-medium-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

.ralewayMedium{
  font-family: "ralewayMedium", sans-serif;
}
