.imgLogoHeader{
  margin-right: 20px !important;
}
.imgBtnNotifications{
  cursor: pointer !important;
}
.imgLogoLayout {
  height: 70% !important;
  margin-left: 60px !important;
}
.imgHeadContent{
  // height: 120px !important;
  margin-top: -50px !important;
  width: 100% !important;
}
